{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html">

<div class="container" style = "margin-top:50px;color:blue;">

    <h2 class="text-center" style="color:red">Select your Center</h2>
    <br><br>
    <form method="post" id="indexForm" data-centers-url="{% url 'vaccine:ajax_load_centers' %}">
         {% csrf_token %}
        <input type="number" name="aadharno" placeholder="Enter aadharno" class="form-control">

        <br>
        <label>District</label>
        <select name="district" id="district" class="form-control">
            <option value="">---select district---</option>
            {% for i in district %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Centers</label>
      <select name="centers" id="centers" class="form-control">

        </select>
        <br>

         <label>Select your time</label>
        <select name="time" id="time" class="form-control">
            <option value="">---select time---</option>
            <option>10 to 12.30 pm</option>
            <option> 1 to 3 pm</option>
            <option> 3.30 to 6 pm</option>


        </select>
        <br>
        <center>
        <input type = "submit" value="Submit" class=" btn btn-success" style="width:100px;" >

</center>
    </form>



</div>
<center>
<a href="{% url 'cocoapp:index' %}">Home</a>
    </center>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#district").change(function () {
      var url = $("#indexForm").attr("data-centers-url");  // get the url of the `load_courses` view
      var districtId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'district': districtId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#centers").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });

  </script>


{% endblock%}