<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:pink";>
<center>
<h1 style="color:red;font-size:200%">Login</h1>
    <br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <form action="login" method="post">
    {%csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <br>
     <input type="password" name="password" placeholder="password"><br>
    <br>
     <input type="submit">
    <br>
    <br>
 <h5><a href="{% url 'cocoapp:index' %}">Home</a></h5>

    </center>
</body>
</html>